* {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1539126408816-e8ce44955462?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-blend-mode: lighten;
  background-color: black;
  overflow: hidden;
}

/* Navigation Bar */
.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
}

.nav-item {
  margin: 0 1rem;
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .nav-list {
    justify-content: center;
  }
}

/* Homepage Caption */
.caption-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#main-caption {
  font-size: 4rem;
  font-weight: lighter;
  margin: 0 2rem;
}

#sub-caption {
  font-size: 1.4rem;
  margin: 0.5rem 2rem;
}

@media only screen and (max-width: 600px) {
  #main-caption {
    font-size: 2rem;
  }

  #sub-caption {
    font-size: 0.7rem;
  }
}
/* Contact Page Table */
.contact-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  font-size: 1.5rem;
}

.table-header {
  padding: 1rem 2rem;
}

.table-description {
  padding: 0 2rem;
}

@media only screen and (max-width: 600px) {
  .contact-table {
    align-items: center;
    font-size: 1rem;
  }
  .table-header {
    padding: 1rem 1rem;
  }
}
